footer {
    font-family: $primary-fontFamily;
    color: $primary-text;
    text-align: center;
    background: $primary-bgcolor;
    position: relative;
    padding: 2rem;
}

.footer {

    &-title {
        font-size: 2.5rem;
        margin-bottom: 5rem;
        padding: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.233);

        @media only screen and (max-width: 700px) {
            margin-bottom: 3rem;
            font-size: 2rem;
            padding: 1rem;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 2rem;
        align-items: center;
        justify-items: center;

        &>* {
            display: grid;
            row-gap: 5px;
            padding: 1rem;
            grid-template-columns: max-content;

            span {
                position: relative;
                top: 12px;
                font-size: 2rem;
            }

            &:nth-child(2) {
                transform: translateY(-2rem);

                @media only screen and (max-width: 700px) {
                    transform: translateY(0);
                }

                & p:first-child {
                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }

        }
    }
}