.prizes-section {
    padding: 3rem 2rem;
    font-family: $primary-fontFamily;
    background: $primary-bgcolor;
    color: $primary-text;

    &>h2 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 3rem;
        border-bottom: 1px solid rgba(255, 255, 255, .233);
        padding-bottom: 2rem;
    }

    .prize__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        row-gap: 4rem;
        align-items: center;
        justify-items: center;
        padding: 4rem 8rem;

        @media only screen and (max-width: 1000px) {
            padding: 3rem 6rem;
        }

        @media only screen and (max-width: 800px) {
            padding: 1rem 2rem;
        }

        &>* {
            border: 1px solid rgba(0, 0, 0, .125);
            padding: 3.5rem 1rem;
            cursor: pointer;
            border-radius: 50%;
            background: linear-gradient(to right bottom, #D74277, #6D00A3);
        }
    }
}