@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$primary-text: #fff;
$secondary-text: #000;
$primary-border: #707070;
$secondary-border: #44164c;
$primary-bgcolor: #000;
$primary-fontFamily: "Space Mono", monospace;
$size-h1: 4.685rem;
$sizeM-h1: 2.4rem;
$sizeT-h1: 3.2rem;
$size-h2: 2.125rem;
$sizeM-h2: 1.2rem;
$sizeT-h2: 1.85rem;

@mixin headers-margin {
  margin: 4rem auto;
  @media screen and (max-width: 550px) {
    margin: 1.5rem auto;
  }
}

@mixin primary-h1 {
  font-size: $size-h1;
  color: $primary-text;
  font-weight: 800;
  font-family: $primary-fontFamily;
  letter-spacing: 1px;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 550px) {
    font-size: $sizeM-h1;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: normal;
  }
}

@mixin primary-h2 {
  font-size: $size-h2;
  color: $primary-text;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: $primary-fontFamily;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 550px) {
    font-size: $sizeM-h2;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: normal;
  }
}
